body{
	padding: 0;
	margin: 0;
	font-family: roboto;
	background-color: #eee;
}

/*BEGIN STYLE HEADER */

.header{
	width: 100%;
	color: white;
	padding: 1%;
	font-size: 2em;
	text-align: center;
	margin-bottom: 3%;
}

.logo-header{
	position: absolute;
	float: left;
	width: 5%;
	height: 8%;
	margin-left: 1%;
	margin-top: .5%;
}
/*END STYLE HEADER */

 /* BEGIN STYLE INDEX.HTML*/
.divLogo{
	height: 300px;
}

.logo{
	width: 100%;
	height: 100%;
}

div.textIndex{
	text-align: center;
	font-size: 18px;
}

.iniciar-game{
	margin-top: 3%; 
	font-size: 18px;
	color: red;
}

.container,
.container.row{
	text-align: center;
}

.container a.nosotros{
	font-size: 1.2em;
}
/* END STYLE INDEX.HTML*/


/* BEGIN STYLE CARRERA.HTML*/


.row .carrera {
	padding: 1%;
	background-color: white;
}

.row .carrera-content .carrera {
	border-bottom: 2px inset #bbbbbb;
}

.carrera-content{
	margin-bottom: 0;
}

.carrera .info-carrera{
	text-align: center;
}

.carrera .info-carrera p {
	text-align: justify;
}

.carrera .info-carrera a{
	font-size: 1em;
	color: red;
}

.row .carrera .img-carrera{
	height: 150px;
}

.carrera div img{
	width: 100%;
	height: 100%;
}
/* END STYLE CARRERA.HTML*/

/*BEGIN STYLE INICIO-CARRERA.PHP*/

.no-bootom-card{
	margin-bottom:0px !important;
}

.card-content-table{
	padding-top: 0px !important; 
	padding-bottom: 0px !important;
}

/* END STYLE INICIO-CARRERA.PHP*/


/* BEGIN STYLE NOSOTROS.HTML*/
.imgProfile{
	width: 250px;
	height: 250px;
}
/* END STYLE NOSOTROS.HTML*/


/* BEGIN STYLE MOVILE RESPONSIVE*/
@media(max-width: 763px){

 /* BEGIN STYLE INDEX.HTML*/
	.divLogo{
		height: 250px;
	}

	div.textIndex{
		font-size: 20px;
	}

	.iniciar{
		font-size: 12px;
	}
 /* END STYLE INDEX.HTML*/

}
/* BEGIN STYLE MOVILE RESPONSIVE*/